<!-- <app-merchant>
</app-merchant>
<p>merchant works!</p>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="row pt-2">
                <div class="col-md-3">
                    <div class="card card-outline bg-light shadow mb-3 ">
                        <p class="text-bold text-center text-muted h4 p-5">Clerks <br> <span class=" fs-1 fw-bold  py-4">24</span></p>
                    </div>
                </div>



                <div class="col-md-3">
                    <div class="card bg-light shadow mb-3">
                        <p class="text-bold text-center text-muted h4 p-5">Order <br> <span class=" fs-1 fw-bold  py-4">12</span></p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card bg-light shadow mb-3">
                        <p class="text-bold text-center text-muted h4 p-5">Payment <br> <span class=" fs-1 fw-bold  py-4">300</span></p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card bg-light shadow mb-3">
                        <p class="text-bold text-center text-muted h4 p-5">Pending Payments <br> <span class=" fs-1 fw-bold  py-4">3</span></p>

                    </div>
                </div>

            </div>

            <!-- Top four cards code ends here-->

<!-- <div class="row mt-5">
                <div class="col-md-7">
                    <div class="card linear-graph">

                        <div>
                            <canvas id="myChart" width="600" height="400"></canvas>
                        </div>

                    </div>
                </div>
                <div class="col-md-5 mt-5">
                    <div class="card linear-graph">
                        <div>
                            <canvas id="mChart" width="300" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>  -->