<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!isItemAdded">
        <div class="form-group">
          <label for="received_item">Received Item</label>
          <input type="text" class="form-control" id="items_received" required [(ngModel)]="item.items_received" name="items_received" />
        </div>
  
        <div class="form-group">
          <label for="items_in_stock">Items in Stock</label>
          <input class="form-control" id="items_in_stock" required [(ngModel)]="item.items_in_stock" name="items_in_stock" />
        </div>

        <div class="form-group">
            <label for="payment_status">Payment Status</label>
            <input class="form-control" id="payment_status" required [(ngModel)]="item.payment_status" name="payment_status" />
          </div>

          <div class="form-group">
            <label for="items_spoiled">Items Spoiled</label>
            <input class="form-control" id="items_spoile" required [(ngModel)]="item.items_spoiled" name="items_spoiled" />
          </div>

          <div class="form-group">
            <label for="buying_price">Buying Price</label>
            <input class="form-control" id="buying_price" required [(ngModel)]="item.buying_price" name="buying_price" />
          </div>

          <div class="form-group">
            <label for="selling_price">Selling Price</label>
            <input class="form-control" id="selling_price" required [(ngModel)]="item.selling_price" name="selling_price" />
          </div>
  
        <button (click)="onAdditem()" class="btn btn-primary mt-5">Save Items</button>
      </div>
  
         </div>
  </div>