/* sheet */

.card:hover {
    /* position: absolute;
    left: 441px;
    right: 741px;
    top: 127px;
    bottom: 763px; */
    /* grayscale / white */
    background: #FFFFFF;
    /* accent / default */
    border: 1px solid #3751FF;
    box-sizing: border-box;
    border-radius: 8px;
}