<div class="container">
    <!-- MAIN CONTENT HERE -->
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati architecto laudantium praesentium, repudiandae ab suscipit sint ipsa tempora exercitationem consectetur deleniti consequatur quia earum perspiciatis aliquam officia vel
        mollitia?
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae perspiciatis ipsum hic molestias, commodi officia eaque neque sint placeat laborum nam, ullam magni, saepe obcaecati laboriosam. Vero ipsum nostrum optio.</p>



</div>